body {
    background-color: rgb(77, 147, 150);
}

.background {

   
    background-image: url(http://www.guitarnoise.com/images/features/pink-floyd-wallpaper-1024x585.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

#new-game-button {

    border: none;
    outline: none;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.btn {

    position: relative;
    left:80px;
}

h1 {
    color:rgb(0, 5, 71);
    font-size: 70px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    padding: 5px;
    position: relative;
    bottom: 40px;
}
h2 {
    color:black;
    font-size: 35px;
    text-align: left;
    font-family: 'Berkshire Swash', cursive;

}
img {
    opacity: 0.5;
}

h2, h3 {
    font-family: 'Berkshire Swash', cursive;
}


#placeholder-section {
    background-color: rgb(228, 69, 41);
}

#underscore {
    letter-spacing: 5px;
    font-size: 40px;
}

p {
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    padding: 10px;
    color: rgb(29, 29, 29);
}

#incorrect-letters-guessed {
    font-size: 40px;
}